span {
  background-color: orangered;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;

  display: none;
}

h1:hover + span {
  display: inline;
}

span::before {
  content: '';
  border-style: solid;
  border-color: transparent transparent orangered transparent;
  border-width: 8px;
  position: absolute;
  bottom: 32px;
  left: 40%;
}
